<h2 matDialogTitle>Basket</h2>

<mat-dialog-content>
  <mat-action-list *ngIf="basketService.basket.length > 0" >
    <mat-list-item *ngFor="let product of basketService.basket">
      <a matLine>{{ product.name }}</a>
      <button mat-icon-button (click)="removeProduct(product.id)">
         <mat-icon>delete</mat-icon>
      </button>
   </mat-list-item>
  </mat-action-list>
  <span *ngIf="basketService.basket.length == 0" style="color: red;">You haven't products in your basket</span>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [matDialogClose]="undefined">Close</button>
  <button mat-button [mat-dialog-close]="true" [disabled]="basketService.basket.length == 0" cdkFocusInitial>Buy</button>
</mat-dialog-actions>
